In [22]:
import pandas as pd

In [23]:
train_df = pd.DataFrame({"Employ No.":[1120,2323,1233,5323,2455,1345],"Experience":[12,10,5,10,6,22],
"Designation":["Clerk","Manager","Senior Manager","Manager","Manager","Clerk"],
"Attitude":["Excellent","Exceptional","Fully competent","Marginal","Exceptional","Unsatisfactory"],
"Work Index":[0.7,0.9,0.6,0.5,0.9,0.4], "Salary(IN thousands)":[12,30,40,28,25,10]})
test_df = pd.DataFrame({"Employ No.":[9023,9084,9032],"Experience":[5,12,15],
"Designation":["Manager","Clerk","Senior Manager"],
"Attitude":["Excellent","Exceptional","Fully competent"],
"Work Index":[0.7,0.9,0.6,]})

In [24]:
data = [train_df, test_df]

# Dropping unnecessary columns

In [25]:
for df in data:
    df.drop('Employ No.',axis="columns",inplace=True)

In [26]:
# Converting non-numerical features to numerical

Designation_mapping = {"Clerk":0,'Manager':1,"Senior Manager":2}
Attitude_mapping = {"Unsatisfactory":0, "Marginal":1, "Fully competent":2, "Excellent":3, "Exceptional":4}

for df in data:
    df['Designation']=df['Designation'].map(Designation_mapping)
    df['Attitude']=df['Attitude'].map(Attitude_mapping)

In [32]:
train_df

   Experience  Designation  Attitude  Work Index  Salary(IN thousands)
0          12            0         3         0.7                    12
1          10            1         4         0.9                    30
2           5            2         2         0.6                    40
3          10            1         1         0.5                    28
4           6            1         4         0.9                    25
5          22            0         0         0.4                    10

In [33]:
test_df

   Experience  Designation  Attitude  Work Index
0           5            1         3         0.7
1          12            0         4         0.9
2          15            2         2         0.6

In [27]:
X = train_df.drop("Salary(IN thousands)",axis='columns')
y=train_df["Salary(IN thousands)"]

In [28]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X,y)
LinearRegression()

LinearRegression()

In [29]:
#Predicting on test data
lr_model.predict(test_df)
#the prediction for
#array([ 26.39862543, 12.54467354, 43.07216495])

array([ 26.39862543,  12.54467354,  43.07216495])